@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 168 79.8% 40%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 210, 24.6%, 45.85%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 15 86% 57%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 210, 15.5%, 87.84%;
    --ring: 222.2 84% 4.9%;

    --radius: 0rem;

    --chart-1: 12 76% 61%; /* 코랄 오렌지 */
    --chart-2: 173 58% 39%; /* 청록 */
    --chart-3: 197 37% 24%; /* 딥 블루 */
    --chart-4: 43 74% 66%; /* 밝은 옐로 */
    --chart-5: 27 87% 67%; /* 웜 오렌지 */
    --chart-6: 288 60% 60%; /* 라벤더 퍼플 */
    --chart-7: 95 70% 50%; /* 라임 그린 */
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  img {
    @apply inline-block;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

.z-max {
  z-index: 100;
}
